{
  "path_to_file": "",
  "nokia": {
    "api_key": "",
    "api_token": "",
    "api_signature": "",
    "callback": "",
    "user_id": ""
  },
  "fitbit": {
    "client_id": "",
    "api_secret": "",
    "access_token": "",
    "refresh_token": "",
    "callback": ""
  },
  "facebook": {
    "page_id": "",
    "sender_id": ""
  }
}